@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #0C77B3, #496C80 60% );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #283d4979;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #B30C16;
    text-align: center;
    text-shadow: 1px 1px 2px #8f2d3480;
}

h2 { 
    color: #E97362;
}

p {
    text-align: justify;
}