@charset "UTF-8"; 



body {
    background-color: rgb(222, 248, 221);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(38, 73, 36);
}

.basico {
    color: rgb(83, 221, 83);
}

.intermediario {
    color: rgb(187, 187, 10);
}

.avancado {
    color: rgb(151, 18, 18);
}

.destaque {
    background-color: rgba(136, 136, 6, 0.432);
}
